<!-- Desktop -->
<section class="pt-4 pt-md-11 d-none d-xl-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 wow slideInRight">
                <img src="./assets/campaign/pages/1920/app-chat.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 offset-xl-2" alt="Skype App chat">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 wow slideInLeft">
                <h1 class="display-3 text-center text-md-left text-white Aquatico-Regular font-30">
                    The technology in your hands
                </h1>
                <p class="text-center text-md-left  mb-6 mb-lg-8 Aquatico-Regular text-white font-16">
                    Create smart applications for your business
                </p>
                <div class="text-center text-md-left">
                    <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignForm);" #campaignForm="ngForm">
                        <div class="form-row">
                            <div class="col-sm">
                                <input ngModel required name="email" type="email" class="form-control LinotteRegular" placeholder="Enter your email address">
                            </div>
                            <div class="col-sm">
                                <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="submit">
                                        Start my app
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="space-30"></div>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <p class="text-white LinotteLight font-14 font-weight-light">
                                Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                            </p>
                        </div>
                    </div>
                    <!-- divider -->
                    <div class="space-15"></div>
                    <section class="offset-xl-1" style="border-top: 2px solid white; width: 80%"></section>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row">
            <div class="col-sm">
                <div class="row wow slideInUp">
                    <div class="col-sm wow slideInLeft">
                        <img class="offset-xl-1" src="./assets/campaign/pages/1920/app-login.png" alt="IOs app login">
                    </div>
                </div>
            </div>
            <div style="margin-top: 10%" class="col-sm text-center offset-xl-2 wow slideInUp">
                <div class="space-100"></div>
                <h1 class="text-white Aquatico-Regular">
                    Grow your business
                </h1>
                <p class="text-white LinotteLight font-18 font-weight-light">
                    Most of your customers will have a mobile device, be at the forefront of their competition and build a brand and a company that is at the forefront of their industry.
                </p>
            </div>
        </div>
        <!-- end row 2 -->
        <!-- divider trial -->
        <div class="space-70"></div>
        <div class="row wow fadeIn">
            <div class="col-sm text-center offset-xl-3">
                <section class="w-75" style="border-top: 2px solid white;"></section>
            </div>
        </div>
        <div class="space-50"></div>
        <div class="row">
            <div class="col-sm text-center offset-xl-5 wow slideInUp">
                <button (click)="OpenTrial();" style="position: relative; left: -0.5em;" mat-raised-button color="primary" class="btn-block col-5 LinotteRegular btn-trial" type="button">
                        Start my app
              </button>
            </div>
        </div>
        <!-- end divider -->
        <!-- services -->
        <div class="space-50"></div>
        <div class="row offset-1 wow slideInUp">
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            smartphone
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            IOs & Android <br> apps native
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We build smart mobile apps totally native, to provide optimal solutions to your business where we use more complex technologies such as: Machine learning, Facial recognition, Fingerprint among others.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-sm-6 wow slideInUp">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            devices_other
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Hybrid Applications
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            For more economical projects we create a professional design with an incredible quality of service and transform it into a smart application in minutes
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            device_hub
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Progressive web applications
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We create and design web pages. To then optimize and turn it into an intelligent tool, which can be easily taken to mobile devices in a matter of minutes.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
        <!-- end services -->
    </div>
    <div class="space-50"></div>
    <!--<div class="space-200"></div>-->
    <!-- / .container -->
</section>
<!-- end desktop -->
<!-- tablets -->
<section class="pt-4 pt-md-11 d-none d-md-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <a href="https://www.syftedesigns.com" title="Brand logo">
                    <img style="position: relative; left: 0.5em;" src="./assets/campaign/pages/768/logo-03.png" alt="Syfte designs brand logo">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center wow slideInLeft">
                <h1 class="display-3 text-center  text-white Aquatico-Regular font-45">
                    The technology in your hands
                </h1>
                <p class="text-center mb-6 mb-lg-8 Aquatico-Regular text-white font-16">
                    Create smart applications for your business
                </p>
            </div>
        </div>
        <div class="row offset-md-3 offset-lg-4 form-mg wow slideInUp">
            <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignFormTablet);" #campaignFormTablet="ngForm">
                <div class="form-row">
                    <div class="col-sm text-center">
                        <input ngModel required name="email" type="email" class="form-control LinotteRegular" placeholder="Email address">
                    </div>
                    <div class="col-sm">
                        <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="submit">
                                Start my app
                      </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col text-center ">
                <p class="text-white LinotteLight font-14 font-weight-light wow slideInLeft">
                    Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                </p>
            </div>
        </div>
        <!-- divider -->
        <div class="space-15"></div>
        <section class="offset-md-1 offset-lg-2 border-mg" style="border-top: 2px solid white; width: 80%;"></section>
        <div class="space-80"></div>
        <div class="row">
            <div class="col-12 col-md-7 col-lg-6 wow slideInLeft">
                <h1 style="font-size: 22px" class="display-3 text-center text-md-left text-white Aquatico-Regular font-24">
                    Grow your business
                </h1>
                <p style="font-weight: lighter" class="text-center text-md-left  mb-6 mb-lg-8 LinotteRegular text-white font-16">
                    Most of your customers will have a mobile device, be at the forefront of their competition and build a brand and a company that is at the forefront of their industry.
                </p>
            </div>
            <div class="col-md wow slideInRight">
                <img class="img-thumbnail phone-tablet" src="./assets/campaign/pages/1920/app-chat.png" alt="App like whatsapp">
            </div>
        </div>
        <div class="col-md order-md-1 wow slideInUp">
            <img class="img-thumbnail bag-tablet phone-lg-tablet" src="./assets/campaign/pages/1920/app-login.png" alt="Start own business with an app">
        </div>
        <div class="space-30"></div>
        <section class="offset-md-1 offset-lg-2 border-mg" style="border-top: 2px solid white; width: 80%;"></section>
        <div class="space-30"></div>
        <div class="col-md-7 col-lg-9 text-center offset-md-4 offset-lg-3 row-btn-mg wow slideInUp">
            <button (click)="OpenTrial();" mat-raised-button color="primary" class="btn-block col-5 LinotteRegular btn-trial btn-trial-mg" type="button">
                    Start my app
          </button>
        </div>
        <!-- services -->
        <div class="space-70"></div>
        <div class="row wow bounceInUp">
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            smartphone
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            IOs & Android <br> apps native
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We build smart mobile apps totally native, to provide optimal solutions to your business where we use more complex technologies such as: Machine learning, Facial recognition, Fingerprint among others.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            devices_other
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Hybrid Applications
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            For more economical projects we create a professional design with an incredible quality of service and transform it into a smart application in minutes
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            device_hub
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Progressive web applications
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We create and design web pages. To then optimize and turn it into an intelligent tool, which can be easily taken to mobile devices in a matter of minutes.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="space-40 d-md-none d-lg-block"></div>
    <div class="space-100 d-lg-none"></div>
</section>
<!-- end tablets -->
<!-- mobile -->
<section class="pt-4 pt-md-11 d-md-none">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="https://www.syftedesigns.com/" title="Go to home">
                    <img src="./assets/campaign/pages/480/logo-03.png" alt="Syfte designs brand logo">
                </a>
            </div>
        </div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <h1 class="display-3 text-center  text-white Aquatico-Regular font-30">
                    The technology in your hands
                </h1>
                <p class="text-center mb-6 mb-lg-8 LinotteLight text-white font-20">
                    Create smart applications for your business
                </p>
            </div>
        </div>
        <!-- form mobile -->
        <div class="row wow slideInUp">
            <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignFormResponsive);" #campaignFormResponsive="ngForm" class="form-px-mg offset-1 mobile-mg-sm mobile-mg-xl">
                <div class="col-sm text-center">
                    <mat-form-field class="col-12 form-w" appearance="outline">
                        <mat-label class="LinotteRegular text-white font-20 text-center">Email address</mat-label>
                        <input required name="email" ngModel type="email" class="text-white LinotteRegular" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm text-center">
                    <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial btn-trial-mg" type="submit">
                            Start my app
                  </button>
                </div>
            </form>
        </div>
        <!-- end form mobile -->
        <div class="space-80"></div>
        <div class="row wow slideInLeft">
            <div class="col-12">
                <p class="text-white LinotteRegular font-14 text-center">
                    Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                </p>
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <img class="img-fluid" src="./assets/campaign/pages/1920/app-chat.png" alt="App like Whatsapp">
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row wow slideInUp">
            <div class="col text-center">
                <h1 style="font-size: 22px" class="display-3 text-center  text-white Aquatico-Regular font-32">
                    Grow your business
                </h1>
                <p style="font-weight: lighter" class="text-center   mb-6 mb-lg-8 LinotteRegular text-white font-16">
                    Most of your customers will have a mobile device, be at the forefront of their competition and build a brand and a company that is at the forefront of their industry.
                </p>
            </div>
        </div>
        <div class="space-15"></div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <section class="offset-1" style="border-top: 2px solid white; width: 80%; position: relative; left: 0.3em;"></section>
            </div>
            <div class="space-20"></div>
            <div style="position: relative; left: 0.7em;" class="col-sm text-center offset-1">
                <button (click)="OpenTrial();" mat-raised-button color="primary" class="btn-block col-10 LinotteRegular btn-trial btn-trial-mg" type="button">
                        Start my app
              </button>
            </div>
        </div>
        <!-- services -->
        <div class="space-50"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        smartphone
                    </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        IOs & Android apps native
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        We offer a variety of Premium templates or we can create a totally new one from 0 in case you need a custom template.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="space-30"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        devices_other    
                  </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Hybrid Applications
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        For more economical projects we create a professional design with an incredible quality of service and transform it into a smart application in minutes
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="space-30"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        device_hub
                  </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Progressive web applications
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        We have intelligent tools to create partnerships in an automated way so with just a couple of clicks you will be selling third-party products in your store.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <!-- end services -->
    </div>
    <div class="space-100"></div>
</section>
<!-- end mobile -->